version: '3.8'
services:
  db:
    image: postgres:15-alpine
    container_name: eds_postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: eds_upi
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: